@charset "UTF-8";

/* footer.css */

footer {
    width: 100%;
    background-color: #1D546C;
    padding: 50px 0;
}

footer .site_info {
    display: inline-block;
    background-color: #E9E9E9;
    border-radius: 30px;
    padding: 20px 15px;
    margin-left: 200px;

    vertical-align: middle;

}

footer .site_info img {
    display: inline-block;
    margin-bottom: 20px;
}

footer .site_info p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #1D546C;
}

footer .footer_list {
    display: inline-block;

    vertical-align: middle;
    margin-left: 100px;
}

footer .footer_list .list {
    float: left;
    margin-left: 100px;

}

footer .footer_list .list ul {}

footer .footer_list .list ul li {
    float: none;
    color: rgba(255, 255, 255, 0.8);

    margin-bottom: 25px;
}

footer .footer_list .list ul li.list_title {
    font-size: 20px;
    font-weight: 500;

    color: #F5F150;
}