@charset "UTF-8";

/* header.css */

header {
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;

    padding: 20px 0;
}

header .inner {
    position: relative;
    height: 96px;
}

header .logo {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

header .logo a {
    display: block;
}

header .gnb {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header .gnb .gnb-list {
    background-color: #1D546C;
    padding: 10px 20px;
    border-radius: 40px;
        box-sizing: border-box;
}

header .gnb .gnb-list li {
    margin: 5px 5px;
}

header .gnb .gnb-list li a {
    color: #fff;
    display: block;
    padding: 5px 20px;
    height: 100%;
}

header .gnb .gnb-list li a:hover {
    background-color: #F5F150;
    padding: 7px 20px;
    border-radius: 50px;
    color: #1D546C;
    font-weight: bold;
}


header .utils {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

header .utils select {
    background: url(../images/icon_lang.png) no-repeat left;
    border: none;
    height: 50px;
    width: 70px;
    margin-right: 10px;

    text-indent: 35px;
    font-size: 23px;
    color: #1D546C;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    vertical-align: middle;
}

header .utils option {}

header .user-menu {
    background: url(../images/icon_login.png) no-repeat right;
    height: 50px;
    width: 50px;

    text-indent: -9999px;
    overflow: hidden;

    display: inline-block;
    vertical-align: middle;

}