@charset "UTF-8";

/* index.css */

main {
    width: 100%;
    margin: 90px 0;

}

main .main-content {
    width: 30%;
    margin-left: 2%;
    margin-top: 40px;

    float: left;
}

main .main-content .main-des {}

main .main-content .main-des h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 15px;
}

main .main-content .main-des p {
    font-size: 18px;
    margin-bottom: 60px;
}

main .main-content .search {
    width: 350px;
}

main .main-content .search fieldset {
    border: none;
}

.main-content .search legend {
    display: none;
}

.main-content .search .search_bar {
    /* select */

    width: 100%;
    height: 47px;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 10px;

    font-size: 18px;
    color: #ccc;

    outline: none;
    appearance: none;

    padding-left: 50px;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 25px auto;
}

.main-content .search .search_bar::placeholder {
    color: #ccc;
    opacity: 1;
}

.main-content .search .search_bar:focus {
    border: 2px solid #1D546C
}

.main-content .search input[type="text"] {
    background-image: url(../images/icon_location.png);
}

.main-content .search select {
    background-image: url(../images/icon_stay.png);

}

.main-content .search select option {
    color: #1D546C;
}

.main-content .search input[type="date"] {
    background-image: url(../images/icon_calendar.png);
    position: relative;
}

#startDate::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}

.main-content .search input[type="submit"] {
    background-color: #1D546C;
    border: 2px solid #1D546C;
    color: #F5F150;
    padding: 0;

    cursor: pointer;
}

main .main-image {
    background-color: aquamarine;
    width: 68%;
    max-width: 1000px;
    height: 640px;
    border-radius: 15px;
    overflow: hidden;

    float: right;
    position: relative;
}

main .main-image .gallery {
    width: 600%;
    height: 100%;

    position: relative;

}

main .main-image ul li {
    float: left;
    height: 100%;
    width: calc(100% / 6);
}

main .main-image ul li img {
    display: block;
    width: 100%;
    /* height: auto; */
}

/* //// section article.stay-type //// */

article.stay-type {
    text-align: center;
    padding: 150px 0;
}

article.stay-type .stay_tab {
    margin-bottom: 50px;
}

article.stay-type .stay_tab ul {
    width: 1185px;
    margin: 0 auto;

}

article.stay-type .stay_tab ul li {
    width: 25%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
    color: #1A202C;

    border-bottom: 10px solid #d9d9d9;
}

article.stay-type .stay_tab ul li.active {
    border-bottom: 10px solid #FA6868;
    font-weight: 700;
}

article.stay-type .stay_tab ul li a {
    padding: 10px 20px;
    white-space: nowrap;
    display: inline-block;
}

article.stay-type .stay-list {
    width: 1185px;
    margin: 0 auto 70px;
}

.stay-list .stay-info {
    width: 23.5%;
    height: 350px;
    margin-bottom: 30px;

    border-radius: 10px;
    overflow: hidden;
    float: left;

    position: relative;

}

.stay-list .stay-info~.stay-info {
    margin-left: 2%;
}

.stay-list .stay-info:nth-child(4n+1) {
    margin-left: 0;
}

.stay-list .stay-info a {
    width: 100%;
    height: 100%;
}

.stay-info img {
    width: 100%;
    height: 100%;
}

.stay-info p.city {
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 600;

    position: absolute;
    left: 15px;
    top: 15px;
}

.stay-info p.price {
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 600;

    position: absolute;
    left: 15px;
    bottom: 15px;
}

.stay-info p.price span {
    font-size: 16px;
    font-weight: 500;
}

/* //// section article.features //// */

article.features {
    padding: 150px 0;
    /* background-color: antiquewhite; */
}

article.features .contents {
    width: 80%;
    margin: 0 auto;
}

article.features .contents .box {
    width: 32%;
    height: 534px;
    float: left;

    text-align: center;
    padding: 50px 50px;
    box-sizing: border-box;
    border-radius: 10px;
}

article.features .contents .box~.box {
    margin-left: 2%;
}

article.features .contents .b1 {
    background-color: #FA6868cc;
}

article.features .contents .b1 .eyeani {
    position: relative;
}

article.features .contents .b1 .eyeani .eyes {
    position: absolute;
    left: 148px;
    bottom: 185px;
}

article.features .contents .b1 .eyeani .lid {
    position: absolute;
    left: 148px;
    bottom: 179px;

    display: none;
}


article.features .contents .b2 {
    background-color: #F5F150e6;
}

article.features .contents .b3 {
    background-color: #1D546C;
    color: rgba(255, 255, 255, 0.9);
}

article.features .contents .box h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

article.features .contents .box p {
    font-size: 18px;
    margin-bottom: 20px;
}

article.features .contents .b2 p {
    margin-bottom: 50px;
}

/* //// section article.why-foho //// */

article.why-foho {
    width: 100%;
    /* height: 980px; */
    padding: 120px 0;
    margin: 150px 0;
    /*     padding: 150px 0 ; */
    background-color: #F5F150;
    background: url(../images/bg_koreanstyle.jpg) no-repeat center / cover;

    position: relative;
}

article.why-foho .inner {
    /* position: relative; */

    /* margin-top: 100px; */
}

article.why-foho .des {
    /* width: 50%; */
    float: left;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);

    text-align: left;
    /* margin-left: 189px; */
}

article.why-foho .des .des_title,
article.why-foho .des p {
    color: #fff;
    margin-bottom: 20px;
}

article.why-foho .des .emp {
    font-size: 40px;
    margin-bottom: 100px;
}

article.why-foho .reflet {
    width: 50%;
    float: right;
}

.reflet .reflet_up {
    display: block;
    margin-bottom: -2px;
}

/* //////////////////종이 들리는 효과////////////////////////////// */
.reflet .reflet_bottom {
    transition: transform 0.2s cubic-bezier(.34, 1.56, .64, 1), box-shadow 0.2s;
}

.reflet_bottom:hover {
    transform: translateY(-14px) scale(1.05) rotateX(7deg);
    box-shadow: 0 14px 36px -8px rgba(0, 0, 0, 0.18);
    z-index: 2;
}

.reflet .reflet_benefits {}

.reflet .reflet_benefits a {
    float: left;
}

.reflet .reflet_benefits .reflet_bottom~.reflet_bottom {
    margin-left: 1px;
}

.reflet .reflet_benefits img {
    display: block;
}


/*  modal 실행 css */

article.why-foho .popup {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;

    display: none;
}

article.why-foho .popup .benefit {
    width: 610px;
    height: 230px;
    background-color: #f0efef;
    padding: 50px 50px;
    box-sizing: border-box;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: none;

}



.popup .benefit .title {
    font-size: 24px;
    font-weight: 600;
    color: #FA6868;

    margin-bottom: 20px;
}

.popup .benefit .benefit_des {
    font-size: 18px;
    color: #222;
}


/* //// article.guides css /////// */

article.guides {
    width: 100%;
    padding: 150px 0 0;
}

article.guides .viewer {
    width: 96%;
    margin-left: 4%;
    /* margin: 0 auto; */
    overflow: hidden;

    margin-bottom: 100px;
}

article.guides .cards_box {
    width: 200%;
}

article.guides .cards_box .card {
    /*  width: 20%; */
    width: 10.2%;
    height: 450px;
    padding: 0.8%;
    box-sizing: border-box;
    box-shadow: 2px 2px 9px 0 rgba(204, 204, 204, 0.5);
    border: 1px solid #ccc;

    background-color: #fff;
    border-radius: 20px;
    float: left;
    /* margin-left: 1%; */
    margin-right: 1%;

    position: relative;
}

/* article.guides .cards_box .card~.card {
    margin-left: 1%;
} */

article.guides .cards_box .card .img_viewer {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;

    margin-bottom: 10px;
}

article.guides .cards_box .card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;

}

article.guides .cards_box .card .card_title {
    font-size: 22px;
    font-weight: 600;
}

article.guides .cards_box .card .learn_btn {
    position: absolute;
    left: 8%;
    bottom: 6%;

    color: #1D546C;
    font-weight: 600;

}

article.guides .viewmore_btn {
    margin: 0 auto;
    width: max-content;
    display: block;
}

article.faq_banner {
    width: 100%;
    height: 708px;
    background: url(../images/bg_namsan.png) no-repeat center/ cover;
    position: relative;
}

article.faq_banner .inner {
    position: absolute;
    left: 50%;
    bottom: 190px;

    transform: translateX(-50%);
}

article.faq_banner .faq_des {
    padding-left: 100px;
}

article.faq_banner .faq_des .faq_title {
    font-size: 50px;
    font-weight: 700;
    color: #fff;

    margin-bottom: 50px;
}

#footer_bg {
    background-color: #000;
}